[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Repository for Documentaton projects
[access "refs/*"]
	owner = group user/ibsoln
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ibsoln
	label-Verified = -1..+1 group user/ibsoln
	push = group user/ibsoln
	read = group user/ibsoln
	rebase = group user/ibsoln
	removeReviewer = group user/ibsoln
	submit = group user/ibsoln
[access "refs/heads/*"]
	create = group user/ibsoln
	push = +force group user/ibsoln
	pushMerge = group user/ibsoln
	read = group user/ibsoln
[access "refs/tags/*"]
	push = group user/ibsoln
	push = +force group user/ibsoln
